<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Uploadez une image d'un personnage de Code Geass, je vous dirai de qui il s'agit !

    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Sélectionnez une image</button>
      <div class='upload-label'>
        <label id='upload-label'>Pas de fichier choisit</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Lancez l'analyse</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
